.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    width: 100%;
    gap: 20px 15px;
    max-width: 400px;
    height: 100%;
    max-height: 500px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
}
input[type="submit"] {
    background-color: #7F00FF;
    padding: 12px;
    width: 65%;
    font-size: 15px;
    font-weight: 700;
    color: white;
    cursor: pointer;
    transition: background-color 0.35s ease;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(127, 0, 255, 0.3);
}
input[type="submit"]:hover {
    background-color: #6600CC;
    color: white;
    cursor: pointer;
    box-shadow: 0 7px 20px rgba(127, 0, 255, 0.5);
    transform: translateY(-2px);
}
button {
    background-color: #5d6673;
    color: white;
    width: 100%;
    padding: 30px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
}
h1 {
    color: #7f00ff;
    text-shadow: 0 0 7px rgba(127, 0, 255, 0.4);
    text-shadow: 0 0 12px rgba(127, 0, 255, 0.7);
}
input[type="text"] {
    background-color: #5d6673;
    color: white;
    border: black solid 1px;
    border-radius: 3px;
}