/* In dieser style.css Datei wird die Anpassung von der dashboard.html mit CSS Code Händisch angepasst. */
html {
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

/* Stil für den Header */
#header {
    border-bottom: 2px solid rgba(127, 0, 255, 0.4);
    box-shadow: 
        0 2px 4px rgba(0, 0, 0, 0.4),
        0 8px 16px rgba(0, 0, 0, 0.6);

    animation: pulsieren 2s infinite alternate; 

    transition: box-shadow 0.2s ease-in-out; 
}

/* Pulsierende Animation für den Header und Navbar */
@keyframes pulsieren {
    0% {
        border-color: rgba(127, 0, 255, 0.4); 
        box-shadow: 
            0 2px 4px rgba(0, 0, 0, 0.4),
            0 8px 16px rgba(0, 0, 0, 0.6);
    }
    
    100% {
        border-color: rgba(127, 0, 255, 1.0);
        box-shadow: 
            0 2px 8px rgba(127, 0, 255, 0.8),
            0 8px 20px rgba(0, 0, 0, 0.8);
    }
}

/* Stil für das Abmelde-Pop up und den Underlay */
#underlay_popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;

    /* Anfangs ist der Underlay nicht sichtbar */
    display: none;

    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}
/* Stil für das Abmelde-Pop up Fenster */
#abmelde_popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #343a40;
    color: #f8f9fa;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    z-index: 10000;

    /* Anfangs ist das Pop up nicht sichtbar */
    display: none;

    transition: opacity 0.3s ease;
    opacity: 0;
}
/* Stil für den Abmelden Link im Header */
#abmelden {
    cursor: pointer;
}
/* Hover-Effekt für den Abmelden Link */
#abmelden:hover {
    text-decoration: underline !important;
}
/* Stil für den Benutzernamen im Header */
#username {
    font-weight: 600;
    color: #7d838a;
}
/* Stil für Neon-Purpur Akzentfarbe mit Glow-Effekt */
.neon-akzent {
    /* Purpur-Akzentfarbe */
    color: #7F00FF;

    /* Neon-Glow-Effekt */
    text-shadow:
        0 0 7px rgba(127, 0, 255, 0.7),
        0 0 12px rgba(127, 0, 255, 0.4);
}
/* Stil für die Abbruch und Abmelde Buttons im Pop up */
#abbruch_button,
#abmelde_button {
    border-radius: 5px;
    border: none;
    text-align: center;

    background-color: #7F00FF;
    color: white;

    display: block;
    margin-left: auto;
    margin-right: auto;

    padding: 10px;

    font-size: 1.1rem;
    font-weight: 700;

    width: 200px;
    box-shadow: 0 5px 15px rgba(127, 0, 255, 0.3);
    transition: background-color 0.35s ease, transform 0.3s ease, box-shadow 0.3s ease;
}
/* Stil für den Abbruch Button im Pop up */
#abbruch_button {
    margin-bottom: 25px;
}
/* Hover-Effekt für die Abbruch und Abmelde Buttons */
#abbruch_button:hover,
#abmelde_button:hover {
    background-color: #6300CC;
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(127, 0, 255, 0.5);
}
/* Stil für den Text im Abmelde Pop up */
#abmelde-p-popup {
    font-size: 30px;
    margin-bottom: 30px;
}
/* Stil für das Profil Icon im Header */
#profil-css {
    transition: transform 0.3s ease;
}
/* Hover-Effekt für das Profil Icon im Header */
#profil-css:hover {
    box-shadow: none !important;
    outline: none !important;
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/*Div Containers*/
/* Layout für das Grid System */
#cssportal-grid {
    display: grid;
	grid-template-rows: repeat(12, 1fr);
	grid-template-columns: repeat(10, 1fr);
    gap: 20px;
    margin: 20px;
    width: calc(100% - 40px);
    height: calc(90vh - 40px);
}
/* Navigationsleiste */
#MiniNav {
	grid-area: 4 / 1 / 10 / 2;
    overflow: hidden;
    width: 75px;
    height: 400px;
}
/* Akutelles Fach inkl. Aufgaben und Lehrer */
#div2 {
	grid-area: 1 / 1 / 4 / 9;
    overflow: hidden;
}
/* Hausufgaben/Proben/Ex's/ sonstige Termine */
#div3 {
	grid-area: 1 / 9 / 10 / 11;
    overflow: hidden;
}
/* Zitat des Tages/Nachrichten/Witze */
#div4 {
	grid-area: 10 / 3 / 13 / 11;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
/* Zeit und Datum */
#div5 {
	grid-area: 10 / 1 / 13 / 3;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    container-type: inline-size;
    container-name: Time;
}
/* Wetter */
#div6 {
	grid-area: 4 / 2 / 10 / 5;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    container-type: inline-size;
    container-name: Wetter;
    
}
/* Stundenplan / Tag */
#div7 {
	grid-area: 4 / 5 / 10 / 9;
    overflow: hidden;
}
/* Stil für die Div Container mit Hover-Effekt */
#cssportal-grid > div,
#MiniNav { 
    border-radius: 12px;
    background: #343a40;
    border: 1px solid rgba(127, 0, 255, 0.4);
    box-shadow: 
        0 1px 2px rgba(0, 0, 0, 0.4),
        0 4px 8px rgba(0, 0, 0, 0.6); 
    
    display: flex; 
    align-items: center;
    justify-content: center;

    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1); 
}
/* Hover-Effekt für die Div Container */
#cssportal-grid > div:hover,
#MiniNav:hover {
    
    box-shadow: 
        0 2px 4px rgba(0, 0, 0, 0.5), 
        0 6px 12px rgba(0, 0, 0, 0.8),
        0 0 40px rgba(127, 0, 255, 0.5);
        
    border: 2px solid #7F00FF; 
    
    transform: translateY(-2px) scale(1.02);
    
}

/*DIV Container Inhalte*/

#time-date {
    font-size: calc(1.25vw + 1.5vh);
    text-align: center;
}

#wetter_h2 {
    font-size: calc(2.2vw + 2.3vh);
    text-align: center;
}
#description_w, #temp, #humidity, #city {
    font-size: calc(0.6vw + 0.6vh);
    text-align: center;
    margin-top: 10px;
}

#joke_h2 {
    font-size: calc(1.5vw + 1.5vh);
    text-align: center;
    margin-bottom: 15px;
}
#joke_text {
    font-size: calc(0.8vw + 0.8vh);
    text-align: center;
    margin: 0 15px;
}

#MiniNav-bar{
    box-shadow: none !important;
    scale: 1 !important;
    width: 50vw !important;
    background-color: #343a40 !important;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.35);
}

#Dropdown {
    position: absolute; 
    bottom: 0;
    left: 0;  
    width: 100%;  
    padding: 15px; 
    
    
    border-top: 1px solid rgba(255, 255, 255, 0.1); 
    
    transform: none !important;
}

/*-------------------------------------------*/

#div2_list {
    display: flex;
    width: 100%;       
    height: 100%;      
    margin: 0;
    padding: 0;
   
}

#div2_list .list-group-item {
    background-color: #343a40;
    flex: 1;           
    display: flex;
    align-items: center;    
    justify-content: center; 
    text-align: center;
}

#div3_list {
    flex-direction: column;
    width: 100%;       
    height: 100%;      
    margin: 0;
    padding: 0;
   
}

#div3_list .list-group-item {
    background-color: #343a40;
    flex-direction: column;
    flex: 1;           
    display: flex;
    align-items: center;    
    justify-content: center; 
    text-align: center;
}

.homework{
   font-size: calc(0.6vw + 0.6vh);
}


#div7 {
    height: 100%; 
    height: 100%;
    display: flex;
    flex-direction: column;
}

.grid_timetable {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden; 
    border: 1px solid #6d6d6d7b;
    border-radius: 4px;
}

.grid_timetable .row {
    flex: 1; 
    display: flex;
    margin: 0;       
    padding: 0;
    --bs-gutter-x: 0;
}

.grid_timetable .row > [class*="col-"] {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-right: 1px solid #6d6d6d7b;
    border-bottom: 1px solid #6d6d6d7b;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.grid_timetable .row > [class*="col-"]:last-child {
    border-right: none;
}

.grid_timetable .row:last-child > [class*="col-"] {
    border-bottom: none;
}

.grid_timetable .col-1 {
    background-color: rgba(0, 0, 0, 0.05);
    font-weight: bold;
    flex: 0 0 8.333333%; 
    max-width: 8.333333%;
}

.grid_timetable .row:hover {
    background-color: rgba(0, 0, 0, 0.02);
}


#offcanvasbutton:hover,
#Home-icon:hover,
#Teacherpanel-icon:hover,
#Adminpanel-icon:hover,
#Stundenplan-icon:hover,
#Einstellungen-icon:hover,
#Gast-icon:hover,
#Home:hover,
#Adminpanel:hover,
#Teacherpanel:hover,
#Stundenplan:hover,
#Einstellungen:hover,
#Gast:hover {
    background-color: #7d838a;
    border-radius: 10px;
    
}

#Home-icon, #Adminpanel-icon, #Teacherpanel-icon, #Stundenplan-icon, #Einstellungen-icon, #Gast-icon, #offcanvasbutton {
    display: flex;
    align-items: center;
    justify-content: center;
}

#offcanvasExample {
    border-right: 2px solid rgba(127, 0, 255, 0.4);
    box-shadow: 
        0 2px 4px rgba(0, 0, 0, 0.4),
        0 8px 16px rgba(0, 0, 0, 0.6);

    animation: pulsieren 2s infinite alternate; 
}

#div2_fach , #div2_teacher, #div2_room {
    font-size: calc(1.7vw + 0.7vh);
    font-weight: 600;
}

#div3_homework_title, #div3_schoolwork_title, #div3_sonstiges_title {
    font-size: calc(1.5vw + 0.6vh);
    margin-bottom: 8px;
}

#div3_homework, #div3_schoolwork, #div3_sonstiges {
    font-size: calc(1.0vw + 0.5vh);
}