#underlay_detail {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99999;

    display: none;

    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#detailView {

    position: fixed;
    top: 35px;
    left: 35px;
    right: 35px;
    bottom: 35px;

    background-color: #343a40;
    padding: 20px;
    border-radius: 8px;
    border: 4px solid rgba(71, 226, 0, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 100000;

    overflow-y: auto; 
    
    display: none;
    transition: opacity 0.3s ease-in-out;
}

#closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
}
